{% set zipCode = app.request.get('zipCode')|replace({'-': ''}) %}

<div x-init="fetch('/cart/?zipCode={{ zipCode is not empty ? zipCode : (addresses|first).postCode }}')">
    <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900">
        Endereço de entrega
    </h2> 

    <p class="max-w-xl mt-4 text-sm text-gray-500">
        Selecione um endereço para entrega e veja os tipos de entrega disponíveis para a localização escolhida (entrega ou retirada).
    </p>

    <fieldset class="mt-6">
        <legend class="sr-only">Selecione um endereço</legend>

        <div class="space-y-4">
            {% for address in addresses %}
                <div class="relative flex items-start">
                    <input id="address-{{ address.id }}" name="zipCode" type="radio" value="{{ address.postCode }}" class="w-4 h-4 mt-1 border-gray-300 text-primary-600 focus:ring-primary-600 peer" {{ zipCode == address.postCode ? 'checked' : '' }} hx-get="{{ path('flexy_ftwo_store_checkout') }}" hx-select="#checkout-form" hx-target="#checkout-form" hx-swap="outerHTML" hx-include="input[name=zipCode], input[name=paymentMethod]" hx-disabled-elt="fieldset">

                    <div class="ml-3 text-sm leading-6 peer-disabled:opacity-50 peer-disabled:cursor-not-allowed">
                        <label for="address-{{ address.id }}" class="font-medium text-gray-900">{{ address|split(',')|slice(0, 2)|join(',') }}</label>
                        <p class="text-gray-500">{{ address|split(',')|slice(3)|join(',') }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <button type="button" class="inline-block mt-6 text-sm font-medium text-primary-600 hover:text-primary-500" @click="newAddressModalOpen = true">
            &plus; Adicionar novo endereço
        </button>
    </fieldset>
</div>
