{% extends 'FlexyFtwoStoreBundle:Layout:base.html.twig' %}

{% import "FlexyFtwoStoreBundle:Components:forms.html.twig" as forms %}

{% block content %}
    <div class="container py-6 md:py-12">
        {% include 'FlexyFtwoStoreBundle:Include:breadcrumbs.html.twig' with { path : [ { 'title' : 'Esqueci minha senha' } ] } %}

        <div class="grid h-full gap-24 mt-6 lg:grid-cols-2 md:mt-12">
            <div>
                <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">Esqueci minha senha</h1>

                <p class="mt-2 text-sm leading-6 text-gray-500">
                    Ainda não tem uma conta?

                    <a class="font-semibold text-primary-600 hover:text-primary-500" href="{{ path('flexy_ftwo_store_customer_create') }}">
                        Cadastre-se
                    </a>
                </p>

                <form class="mt-10 space-y-6" method="post" action="{{ path('flexy_ftwo_store_user_remember_password_send_email') }}" hx-disabled-elt="find button[type='submit']">
                    {{ forms.errors('store-login-error') }}

                    {{ forms.recaptcha() }}

                    <div>
                        <div class="flex">
                            <label class="form-label mb-1.5 required" for="_email">E-mail</label>
                            <span class="ml-1 text-red-500">*</span>
                        </div>

                        <input type="email" id="_email" name="email" required="required" autocomplete="email" autofocus="autofocus" class="form-control">

                        <p class="mt-2 text-sm text-gray-500">
                            Preencha seu e-mail e receba instruções para a criação de uma nova senha.
                        </p>
                    </div>

                    {{ forms.submit("Enviar e-mail") }}
                </form>
            </div>

            <img src="https://d8vlg9z1oftyc.cloudfront.net/mimo/mimo-file-manager/assets/images/cadastro.png" alt="" class="ml-auto hidden h-[400px] lg:block xl:h-[600px]" />
        </div>
    </div>
{% endblock %}
