{% extends 'FlexyFtwoStoreBundle:Layout:base.html.twig' %}

{% import "FlexyFtwoStoreBundle:Components:forms.html.twig" as forms %}

{% block content %}
    {% include 'FlexyFtwoStoreBundle:Include:breadcrumbs.html.twig' with { path : [ { 'title' : 'Conta', 'url': path('flexy_ftwo_store_customer_profile') }, { 'title' : 'Endereços', 'url': path('flexy_ftwo_store_customer_address_list') }, { 'title': 'Editar endereço' } ] } %}

    <div class="container">
        <div class="lg:flex lg:gap-x-16">
            {% include 'FlexyFtwoStoreBundle:Customer:header.html.twig' with { active : 'address' } %}

            <section class="w-full mt-12 lg:mt-0">
                <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900">
                    Editar endereço
                </h2>

                <form class="mt-6" method="post" x-data hx-disabled-elt="find button[type='submit']">
                    <input type="hidden" name="address[country]" value="Brasil"/>

                    <div class="space-y-6">
                        {{- forms.input(form.postcode, "CEP", { "x-mask": "99999-999" }) -}}

                        <div class="grid grid-cols-4 gap-4">
                            <div class="col-span-2">
                                {{- forms.input(form.street, "Rua") -}}
                            </div>

                            <div class="col-span-1">
                                {{- forms.input(form.number, "Número") -}}
                            </div>

                            <div class="col-span-1">
                                {{- forms.input(form.complement, "Complemento") -}}
                            </div>
                        </div>

                        <div class="grid grid-cols-3 gap-4">
                            <div class="col-span-1">
                                {{- forms.input(form.district, "Bairro") -}}
                            </div>

                            <div class="col-span-1">
                                {{- forms.input(form.city, "Cidade") -}}
                            </div>

                            <div class="col-span-1">
                                {{- forms.input(form.state, "Estado") -}}
                            </div>
                        </div>
                    </div>

                    <div class="mt-12">
                        {{- forms.submit("Salvar alterações") -}}
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}
    